*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
   font-family: sans-serif;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #333;
}
ul{
   list-style-type: none;
}

.container{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.timer{
   display: flex;
   align-items: center;
   margin-bottom: 50px;
   font-size: 32px;
   color: #fff;
}
h1{
   margin-bottom: 30px;
   font-size: 64px;
   color: #fff;
}
button{
   margin-left: 50px;
   border: none;
   padding: 20px 50px;
   font-size: 24px;
   font-weight: 700;
   color: #fff;
   border-radius: 10px;
   cursor: pointer;
   box-shadow: 0 0 10px 0 rgba(107, 106, 106, 0.7);
   transition: box-shadow .3s ease-in;
}
button:hover{
   box-shadow: 0 0 30px 0 rgba(107, 106, 106, 0.7);
}
#start{
   background-color: rgb(24, 146, 65);
}
#pause{
   background-color: rgb(40, 74, 184);
}
#reset{
   background-color: rgb(206, 43, 32);
}